{%extends "layout.html"%}
    {%block script%}
    <script src="/static/script.js"></script>
    {%endblock script%}
    {%block content%}  
    {%for p in post%}
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- /static/img/attachment_74457099.jfif -->
            <img src="{{p.pic}}">
            <div class="col">
              <h1 class="text-center"><span style="color: black;">{{ p.title }}</span></h1>
              <div>
                <h2 style="color:  black;">
                  {{p.desc | safe}}
                  
                </h2>
              </div>
            </div>
          </div>



    </section>
    {%endfor%}
    {%endblock content%}