{%extends "layout.html"%}
{%block content%}
<div style="padding: 1cm;" class="page-header">
  <h3><span style="color: black;">Winter 2020 Anime</span></h3>
  <br>
</div>
<div class="row">
  <div class="container">
    <div class="col-sm">
    {%for p in post%}
      <img src="{{post[p]['pic']}}" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{ post[p]['title'] }}</h5>
        {{post[p]['desc'] | safe}}
      </div>
      </br>
    {%endfor%}
  </div>
 </div>
</div>
<section>
</section>
{%endblock content%}