{%extends "layout.html"%}
{%block script%}    
<script src="/static/script.js"></script>
{%endblock script%}
{%block content%}

    <div style="padding: 1cm;" class="page-header">
      <h1 class="text-center"><span>contact us</span></h1>
    </div>

    <!-- form for contact_us -->
    <form action="{{url_for('handle_email')}}" class="container border border-dark" style="background-color: white; margin-bottom: 10px; padding: 60px;  " 
    method="POST">
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input required name="name_us" type="text" class="form-control" id="exampleInputPassword1">
        <small id="emailHelp" class="form-text text-muted">Enter your name </small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required name="email_us" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter your Email</small>
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Subject</label>
        <textarea required name="textarea_us" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button  style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <!-- end of form -->

    <!-- footer here -->
    <!-- header -->
{%endblock content%}