<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/static/Img/anime_logo_clipart_1_Zel_icon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="author" content="Ahmad,fadel">
  <meta name="keywords" content="anime, rating, what2watch,subbed_dubbed">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- in case for any modification -->
  <link rel="stylesheet" href="/static/s_sheet.css">
  <!-- fontawesome link for icons -->
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'
    type='text/css'>
 <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/10567e676e.js" crossorigin="anonymous"></script>
    {%block script%}
    {%endblock script%}
</head>




<body style="background-color:white">
  <div class="container-fluid">
    <section>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
          <img src="/static/img/anime-logo-clipart-1.png" width="30" height="30" class="d-inline-block align-top" alt="">
          World Of Ainme
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="about_us.html">about-US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact_us.html">Contact-US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news.html">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="airing.html">Airing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sign_up.html">Registeration</a>
            </li>
            <!-- <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Registeration
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item disabled " href="#">Login</a>
                <a class="dropdown-item" href="sign_up.html">Sign Up</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
    </section>
<!-- end of navbar -->
    {%block content%}
    {%endblock content %}







    <!-- footer starts here  -->
    <footer class=" bg-dark navbar-fixed-bootom page-footer font-small unique-color-dark pt-4"
      style="margin: 10% 0px 0px 0px;">

      <!-- Footer Elements -->
      <div>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1" style="color:white">sign up to get notification for new information</h5>
          </li>
          <li class="list-inline-item">
            <a href="sign_up.html" class="btn btn-outline-light btn-rounded ">Sign up!</a>
          </li>
          <li>
            <!--Facebook-->
            <button type="button" class="btn btn-fb btn-rounded btn-outline-light  "><i
                class="fab fa-facebook-f"></i></button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw btn-rounded btn-outline-light "><i
                class="fab fa-twitter"></i></button>
            <!-- Inatgram -->
            <button type="button" class="btn btn-tw btn-rounded btn-outline-light "><i
                class="fab fa-instagram"></i></button>
            <!-- Email -->
            <button type="button" class="btn btn-tw btn-rounded btn-outline-light "><i
                class="far fa-envelope"></i></button>

          </li>

        </ul>
        <!-- Call to action -->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color:white">© 2020 Copyright:
        <a style="color: white;" href="index.html"> WORLD OF ANIME</a>
      </div>
  </div>
  </footer>
  </div>
</body>


</html>