{%extends "layout.html"%}
{%block script%}
<script src="/static/req.js"></script>
{%endblock script%}
{%block content%}  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div id="mydata" class="container" style="margin-left: 37%;">
<button id="mybtn"> press </button>
    <!-- <table class="container" id="alk-table" border="1">
        <thead><tr><th>Id</th><th>Firstname</th><th>Lastname</th><th>Avatar</th></tr></thead>
        <tbody></tbody>
      </table> -->
</div>

{%endblock content%}